/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
  }

  a {
    text-decoration: none;
  }



  .position {
    font-size: 32px;
    position: absolute; /* headerの左上を基準に絶対位置で指定する */
    top: 100px; /* headerの左上から100px下側へ移動する */
    right: 40px; /* headerの右上から40px左側へ移動する */
  }
